<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SmartSpend</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jhotech.smartspend</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smartspend</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>SmartSpend necesita acceso a Face ID para desbloquear la app de forma segura.</string>
	<key>NSCameraUsageDescription</key>
	<string>SmartSpend necesita acceso a la cámara para escanear recibos y notas de gastos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SmartSpend necesita acceso a tu galería para seleccionar fotos de recibos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SmartSpend necesita guardar fotos en tu galería.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>SmartSpend necesita acceso al reconocimiento de voz para transcribir tus notas de voz.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SmartSpend necesita acceso al micrófono para dictar tus transacciones por voz.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1664291794679786~7314308108</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>SmartSpend utiliza tu información de seguimiento para mostrarte anuncios personalizados y mejorar tu experiencia.</string>
</dict>
</plist>
